/*------------------------------------------------------------------
[13. Media Query]
*/


@media (max-width: 1200px) {
  .cbp-af-header h1 {  font-size: 2.0em;  }
}

@media (min-width: 992px) {  }

@media (max-width: 992px) {
  .cbp-af-header .navbar-nav > li > a {  letter-spacing: 1px;  }
}

//@media (min-width: 768px) {  }

@media (max-width: 768px) {

  .cbp-af-header {background: $color00;}

  .cbp-af-header .navbar-collapse {
    margin: 0;
    position: fixed;
    left: 0;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  .padding-side-60 {  padding: 0 20px;  }
  .padding-side-50 {
    padding: 0 15px;
  }
  #promo {background: none;}
  .navbar-collapse.in {
    background: $color01;
    margin: 0 !important;
    position: fixed;
    width: 100%;
    left: 0;
    li.dropdown > ul > li {  padding: 3px 0;  }
  }
  .cbp-af-header.cbp-af-header-shrink .navbar-collapse {  margin-top: 0;  }
  .navbar-nav>li>a {
    color: $color10 !important;
    &:hover, &:focus {color: $hovercolor !important;}
  }
}

@media (max-width: 400px) {
  .padding-side-60 {  padding: 0 10px;  }
}