
// Green UI


.sidebar-left #sidebar-wrapper,
.sidebar-right #sidebar-wrapper,
.sidebar-left .bottom-widget,
.sidebar-right .bottom-widget {
  background: #80475E;
}

.sidebar-left .side-widget input,
.sidebar-right .side-widget input {
  background: #8c5168;
  color: $color00;
}

.navbar h1 a,
.cbp-af-header.cbp-af-header-shrink h1 a {
  color: #CC5A71;
}

.navbar .navbar-nav > li > a,
.cbp-af-header.cbp-af-header-shrink .navbar-nav > li > a {
  color: #CC5A71;
  &:hover {color: $hovercolor;}
}

.dropdown-menu {
  background: #4b425a;
  li {
    a { color: $color00;
      &:hover, &:focus {background: $hovercolor;}
    }
  }
}

.port-filter ul li a {
  background: #4b425a;
}

#about-hero-image .hero-wrapper .hero-text, #portfolio-hero-image .hero-wrapper .hero-text, #blog-hero-image .hero-wrapper .hero-text, #contact-hero-image .hero-wrapper .hero-text, #blog-grid-hero-image .hero-wrapper .hero-text {
  background: rgba(204, 204, 204, 0.2);
}

#about-hero-image h2, #portfolio-hero-image h2, #blog-hero-image h2, #contact-hero-image h2, #blog-grid-hero-image h2 {
  color: #CC5A71;
}

#services {
  //h4 {color: #006494;}
  i {color: #CC5A71;}
}

#goal div.progressBar {
  background: #4b425a;
}

#counts {
  i {color: #CC5A71;}
}

.bottom-widget {
  i {color: #a8637a;}
}

.sidebar-left #menu-toggle,
.sidebar-right #menu-toggle {
  background: rgba(255, 255, 255, 0.08);
  color: #c69daf;
}